In [50]:
#Preparing the enviroment

In [51]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install numpy

Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd     
import numpy as np

In [6]:
#Uploading the Data set

In [9]:
telco = pd.read_csv("work/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [10]:
telco.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [12]:
#Cleaning the Data set

In [13]:
telco['TotalCharges'] = telco['TotalCharges'].replace(" ", np.nan)

In [14]:
telco.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [15]:
telco.dropna(axis=0,inplace=True)

In [16]:
telco['TotalCharges'] = telco['TotalCharges'].astype(float)
type(telco['TotalCharges'])

pandas.core.series.Series

In [17]:
telco.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7032.000000  7032.000000     7032.000000   7032.000000
mean        0.162400    32.421786       64.798208   2283.300441
std         0.368844    24.545260       30.085974   2266.771362
min         0.000000     1.000000       18.250000     18.800000
25%         0.000000     9.000000       35.587500    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.862500   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [18]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [22]:
#Saving the New Cleaned Data Set

In [19]:
telco.to_csv('Cleaned_Data_set.CSV',index=False)

In [21]:
telco.nunique()

customerID          7032
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                72
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1584
TotalCharges        6530
Churn                  2
dtype: int64

In [23]:
telco.PaymentMethod.unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [25]:
##################################################         Quick Findings   ##############################################################
# Now we can say about this data :
#we have Male/Femal clients, Some clients are still dependent, other are independent and some are married.

#Customers who have available phone service have some features and advantages

#The company also provides 4 payment methodes :

#Electronic check, Mailed check, Bank transfer,Credit card

In [26]:
################################################Digging more in the Data Set and find some percentages %% ################################

In [27]:
telco.Churn.value_counts()

No     5163
Yes    1869
Name: Churn, dtype: int64

In [28]:
telco.SeniorCitizen.value_counts()

0    5890
1    1142
Name: SeniorCitizen, dtype: int64

In [29]:
senior_left = telco.query('SeniorCitizen == 1 and Churn == "Yes"')

In [30]:
senior_left.shape

(476, 21)

In [31]:
print('senior citizen left percentage {}%'.format((476/1142)*100))

senior citizen left percentage 41.68126094570928%

In [ ]:
##This is TOOOO MUCH  !!!!

In [32]:
telco.Partner.value_counts()

No     3639
Yes    3393
Name: Partner, dtype: int64

In [33]:
partner_left = telco.query("Partner == 'Yes' and Churn == 'Yes'")

In [35]:
telco.query("Partner == 'No' and Churn == 'Yes'").shape

(1200, 21)

In [34]:
partner_left.shape

(669, 21)

In [36]:
print('There are {}% of customers who have partner left the company '.format((669/3402)*100))
print("There are {}% of customers who didn't have partner left ".format((1200/3641)*100))

There are 19.66490299823633% of customers who have partner left the company
There are 32.95797857731392% of customers who didn't have partner left

In [ ]:
### 33% also is a high Percentage !!!

In [37]:
telco.Dependents.value_counts()

No     4933
Yes    2099
Name: Dependents, dtype: int64

In [38]:
telco.query("Dependents == 'Yes' and Churn == 'Yes'").shape

(326, 21)

In [39]:
telco.query("Dependents == 'No' and Churn == 'Yes'").shape

(1543, 21)

In [40]:
print("There are {}% of customers who are Dependents left the company \n and there are {}% of customers who are independents left"
     .format((326/2110)*100,(1543/4933)*100))

There are 15.450236966824646% of customers who are Dependents left the company
 and there are 31.279140482465028% of customers who are independents left

In [ ]:
#### 31% of the independent customers left the company too

In [ ]:
########################################### Summary of the findings and problems the company has #################################
#41.7% from senior citizen left the company.
#33% of customers who don't have partner left the company.
# The Telco Company should provide a suitable service for them to keep them using its services
#31% of independent customers left the company ,That is expected thing, the number of independents customers who left the company 
#is 31% which is greater than the number of dependent customer who left the company which is 15.4%, because they want to save money

In [41]:
### Final Note :
# we can draw some graphs here and find more percentages from the data set , but instead we will use elastic Kibana ( easy to use and much more great graphs)